@model AccountCategoryViewModel
@{
    ViewData["Title"] = Model.Category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<ul class="breadcrumb mt-3">
    <li><a href="/"><localize>Home</localize></a> <span class="divider"> / </span></li>
    <li class="ml-1">@Model.Category.Name</li>
</ul>
<form asp-action="Category" method="get">
    <div class="row">
        <input name="Id" type="hidden" value="@Model.Category.Id" />
        <div class="col-md-5 col-sm-12 mt-1">
            <input type="text" value="@ViewBag.Keyword" onchange="this.form.submit()" name="keyword" class="form-control" placeholder="Nhập tên account muốn tìm kiếm..." />
        </div>
        <div class="col-md-5 col-lg-3 col-sm-6 mt-1">
            <select name="ValueRange" onchange="this.form.submit()" class="form-control">
                <option value="0">--Chọn khoảng giá--</option>
                <option value="1">--0 VNĐ - 500.000 VNĐ--</option>
                <option value="2">--500.000 VNĐ - 5.000.000 VNĐ--</option>
                <option value="3">--5.000.000 VNĐ - 20.000.000 VNĐ--</option>
                <option value="4">--Trên 20.000.000 VNĐ--</option>
            </select>
        </div>
        <div class="col-lg-4 col-sm-6 mt-1">
            <button type="button" onclick="window.location.href = '/Categories/@Model.Category.Id'" class="btn btn-dark">Bỏ qua lọc</button>
            <button type="button" onclick="window.location.href = '/Account'" class="btn btn-success">Tất cả account</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-danger">@Html.Raw(TempData["Message"])</h1>
    </div>
    @for (int i = 0; i < Model.Accounts.Items.Count; i++)
    {
        var item = Model.Accounts.Items[i];
        var url = $"/Accounts/{item.Id}";
        var order = $"/Order/Checkout?accountId={item.Id}";
        <div class="col-lg-4 col-sm-6">
            <div class="card__account">
                <a href="@url">
                    <img class="card__account-img" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="Ảnh Tài khoản">
                </a>
                <div class="card__account-title mt-2">
                    <h5 class="card-title">@item.Title</h5>
                </div>
                <ul class="mb-0">
                    <li class="card__account-list">Chuyển sinh: @item.Reincarnation</li>
                    @{
                        var x = @item.Price;
                        var y = x.ToString().Length;
                        var price = "".ToString();
                    }
                    @if (y > 6)
                    {
                        var z = y - 3;
                        for (var j = y - 3; j > 0; j--)
                        {
                            if (j == (z - 3))
                            {
                                price = '.' + price;
                                z = z - 3;
                            }
                            price = x.ToString()[j - 1] + price;
                        }
                    }
                    else price = x.ToString();
                    <li class="card__account-list text-danger">Giá: @price VNĐ</li>
                </ul>
                <div class="card-body">
                    <a href="@url" class="card__account-link">Xem Chi tiết</a>
                    <a href="@order" class="card__account-link ml-4">Mua ngay</a>
                </div>
            </div>
        </div>
    }
</div>
<hr class="soft" />

@await Component.InvokeAsync("Pager", Model.Accounts)
<br class="clr" />