@using shopAcc.ViewModels.Common;
@model PagedResult<shopAcc.ViewModels.Catalog.AccountBalances.BalanceVm>

@{
    ViewData["Title"] = "Danh sách số dư tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Quản lý số dư</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách số dư</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Balance/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mã
                            </th>
                            <th>
                                Tên tài khoản
                            </th>
                            <th>
                                Số dư
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @{
                                        var x = @item.Balance;
                                        var y = x.ToString().Length;
                                        var price = "".ToString();
                                        if (y > 6)
                                        {
                                            var z = y - 3;
                                            for (var i = y - 3; i > 0; i--)
                                            {
                                                if (i == (z - 3))
                                                {
                                                    price = '.' + price;
                                                    z = z - 3;
                                                }
                                                price = x.ToString()[i - 1] + price;
                                            }
                                        }
                                        else if (y < 6 && y > 3)
                                        {
                                            for (var i = y - 3; i > 0; i--)
                                            {
                                                price = x.ToString()[i - 1] + price;
                                            }
                                        }
                                        else price = x.ToString();
                                    }
                                    @price
                                </td>
                                <td>
                                    @Html.ActionLink("Cộng Số dư", "Update", new { id = item.Id }) |
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>