@model IEnumerable<shopAcc.ViewModels.Catalog.AccountImages.AccountImageViewModel>

@{
    ViewData["Title"] = "Danh sách hình ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<div class="container-fluid">
    <h1 class="mt-4">Quản lý ảnh</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách ảnh theo account</li>
    </ol>
    <div class="card mb-12">
        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mã ảnh
                            </th>
                            <th>
                                Hình ảnh
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Hiển thị đại diện
                            </th>
                            <th>
                                Ngày thêm
                            </th>
                            <th>
                                thứ tự
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    <img src="@(Configuration["BaseAddress"] + item.ImagePath)" class="img-rounded" width="300" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Caption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDefault)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SortOrder)
                                </td>
                                <td>
                                    @Html.ActionLink("Xóa", "DeleteImage", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>