@model shopAcc.ViewModels.Catalog.Accounts.AccountVm

@{
    ViewData["Title"] = "Xem chi tiết account game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Xem chi tiết account</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết account</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Account">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ViewCount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ViewCount)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reincarnation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reincarnation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Visional)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Visional)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserNameAcc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserNameAcc)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PasswordAcc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PasswordAcc)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserCreate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserCreate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsFeatured)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsFeatured)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ThumbnailImage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ThumbnailImage)
                    </dd>
                    <dt class="col-sm-2">
                        Môn Phái
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Categories)
                    </dd>
                </dl>
            </div>
            <div>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>